# ╭──────────────────────────────────────ImplementationGuide───────────────────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. For a list of       │
# │  supported properties, see: https://fshschool.org/sushi/configuration/                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.uv.shc-vaccination
canonical: http://hl7.org/fhir/uv/shc-vaccination
name: SMARTHealthCardsVaccinationAndTestingIG
title: "SMART Health Cards: Vaccination &amp; Testing Implementation Guide"
description: "Defines the clinical and patient information contained within a SMART Health Card (SHC) related to vaccination and lab results related to an infectious disease like COVID-19."
status: draft
publisher:
  name: HL7 International - Public Health Work Group
  url: http://www.hl7.org/Special/committees/pher
  email: vci-ig@mitre.org
version: 0.6.2
fhirVersion: 4.0.1
dependencies:
  us.cdc.phinvads:
    uri: http://fhir.org/packages/us.cdc.phinvads/ImplementationGuide/us.cdc.phinvads
    version: 0.7.0
  us.nlm.vsac:
    uri: http://fhir.org/packages/us.nlm.vsac/ImplementationGuide/us.nlm.vsac
    version: 0.4.0
copyrightYear: 2021+
license: Apache-2.0
releaseLabel: STU 1 (Ballot Version)
jurisdiction: http://unstats.un.org/unsd/methods/m49/m49.htm#001
parameters:
  "liquid-path": "liquid"
  "active-tables": true
  "excludettl": true
  "excludexml": true
pages:
  index.md:
    title: Home
  profiles.md:
    title: Profiles
  laboratory-results-observation.md:
    title: Laboratory Results Observation
  vaccination.md:
    title: Vaccination
  patient.md:
    title: Patients
  StructureDefinition-shc-covid19-laboratory-bundle-resource-examples.md:
    title: Structure Definition SHC Covid 19 Laboratory Bundle Resource Examples
  StructureDefinition-shc-covid19-laboratory-result-observation-resource-examples.md:
    title: Structure Definition SHC Covid 19 Laboratory Result Observation Resource Examples
  StructureDefinition-shc-infectious-disease-laboratory-bundle-resource-examples.md:
    title: Structure Definition SHC Infectious Disease Laboratory Bundle Resource Examples
  StructureDefinition-shc-infectious-disease-laboratory-result-observation-resource-examples.md:
    title: Structure Definition SHC Infectious Disease Laboratory Result Observation Resource Examples
  StructureDefinition-shc-patient-general-resource-examples.md:
    title: Structure Definition SHC Patient General Resource Examples
  StructureDefinition-shc-patient-us-resource-examples.md:
    title: Structure Definition SHC Patient US Resource Examples
  StructureDefinition-shc-vaccination-bundle-resource-examples.md:
    title: Structure Definition SHC Vaccination Bundle Resource Examples
  StructureDefinition-shc-vaccination-resource-examples.md:
    title: Structure Definition SHC Vaccination Resource Examples
  contact.md:
    title: Contact
  conformance.md:
    title: Conformance
  artifacts.html:
    title: Artifacts Summary

