<div xmlns="http://www.w3.org/1999/xhtml">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Element</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th>Code</th>
                <td>
                   {{Condition.code.coding.code}}
                </td>
            </tr>

            <tr>
                <th>Onset date (<code>onset</code>)</th>
                <td>
                   {{Condition.onset}}
                </td>
            </tr>
        </tbody>
    </table>
</div>