:root {

  --ig-header-color: #f5f5f5; /* 21. Header color (sides) */
  --ig-header-container-color: #f5f5f5; /* 22. Header container color (center) */
  --footer-bg-color: #f5f5f5; /* Gutters around the footer */

}

/* Left-aligns the IG title rather than centering it */
#ig-status {
    text-align: left;
    padding-left: 12px;
}

/* Cosmetic change to slim the stripe behind the navbar */
#stripe {
    height: 1px;
}

/* The footer needs some room to breathe */
#segment-footer {
    margin-top: 3rem;
}

#segment-breadcrumb .container {
    border-radius: 0 0 5px 5px;
}

/* Allow for side-by-side items on the same row in the dropdown menus */
.nav .open > ul > li.side-by-side {
    display: inline-flex !important;
    justify-content: space-between;
    width: 100%;
}
.nav .open > .dropdown-menu {
    display: table-caption;
}

#segment-content a {
    text-decoration: underline;
}

#segment-content .nav a {
    text-decoration: none;
}