<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="conformance.html">Conformance</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Profiles<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="side-by-side">
        <a href="StructureDefinition-vaccination-credential-immunization.html">Immunization</a>
        <a href="StructureDefinition-vaccination-credential-immunization-dm.html">(DM)</a>
      </li>
      <li class="side-by-side">
        <a href="StructureDefinition-covid19-laboratory-result-observation.html">Lab results (COVID-19)</a>
        <a href="StructureDefinition-covid19-laboratory-result-observation-dm.html">(DM)</a>
      </li>
      <li class="side-by-side">
        <a href="StructureDefinition-infectious-disease-laboratory-result-observation.html">Lab results (generic)</a>
        <a href="StructureDefinition-infectious-disease-laboratory-result-observation-dm.html">(DM)</a>
      </li>
      <li class="side-by-side">
        <a href="StructureDefinition-vaccination-credential-patient.html">Patient</a>
        <a href="StructureDefinition-vaccination-credential-patient-dm.html">(DM)</a>
      </li>
      <li role="separator" class="divider"></li>
      <li class="side-by-side">
        <a href="StructureDefinition-vaccination-credential-bundle.html">Bundle: Immunization</a>
        <a href="StructureDefinition-vaccination-credential-bundle-dm.html">(DM)</a>
      </li>
      <li class="side-by-side">
        <a href="StructureDefinition-covid-19-laboratory-bundle.html">Bundle: COVID-19 Labs</a>
        <a href="StructureDefinition-covid-19-laboratory-bundle-dm.html">(DM)</a>
      </li>
      <li class="side-by-side">
        <a href="StructureDefinition-infectious-disease-laboratory-bundle.html">Bundle: Generic Labs</a>
        <a href="StructureDefinition-infectious-disease-laboratory-bundle-dm.html">(DM)</a>
      </li>
      <li role="separator" class="divider"></li>
      <li class="side-by-side">
        <a href="StructureDefinition-vaccination-credential-vaccine-reaction-observation.html">Experimental: Vaccination Reaction</a>
        <a href="StructureDefinition-vaccination-credential-vaccine-reaction-observation-dm.html">(DM)</a>
      </li>
      <li role="separator" class="divider"></li>
      <li><a href="conformance.html#data-minimization">What is "DM"?</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Value Sets<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="ValueSet-vaccination-credential-vaccine-value-set.html">Vaccines (CVX)</a></li>
      <li><a href="ValueSet-vaccination-credential-vaccine-site-value-set.html">Vaccination Body Site</a></li>
      <li><a href="ValueSet-vaccination-credential-funding-source-value-set.html">Vaccination Funding Source</a></li>
      <li><a href="ValueSet-vaccination-credential-vaccine-reaction-value-set.html">Vaccination Reaction</a></li>
      <li><a href="ValueSet-vaccination-credential-report-origin-value-set.html">Vaccination Report Origin</a></li>
      <li><a href="ValueSet-vaccination-credential-vaccine-route-value-set.html">Vaccination Route</a></li>

      <li role="separator" class="divider"></li>

      <li><a href="ValueSet-laboratory-result-value-set.html">Lab Results</a></li>
      <li><a href="ValueSet-covid19-laboratory-test-value-set.html">Lab Tests (COVID-19 only)</a></li>

      <li role="separator" class="divider"></li>

      <li><a href="ValueSet-identity-assurance-level-value-set.html">Identity Assurance</a></li>
    </ul>
  </li>
  <!--<li><a href="data-dictionary/data_dictionary.xlsx">Data Dictionary (.xlsx)</a></li>-->
  <li><a href="https://github.com/dvci/vaccine-credential-ig/releases">Version History</a></li>
  <li><a href="https://github.com/dvci/vaccine-credential-ig">GitHub</a></li>
</ul>
