<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="profiles.html">Profiles</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Value Sets<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="ValueSet-vaccine-gtin.html">Vaccine: GTIN</a></li>
      <li><a href="ValueSet-vaccine-cvx.html">Vaccine: CVX</a></li>
      <li><a href="ValueSet-vaccine-snomed.html">Vaccine: SNOMED-CT</a></li>
      <li><a href="ValueSet-vaccine-icd-11.html">Vaccine: ICD-11</a></li>
      <li><a href="ValueSet-vaccine-atc.html">Vaccine: ATC</a></li>

      <li role="separator" class="divider"></li>

      <li><a href="ValueSet-lab-result-findings.html">Lab result findings</a></li>
      <li><a href="ValueSet-qualitative-lab-result-findings.html">Qualitative lab result findings</a></li>

      <li role="separator" class="divider"></li>

      <li><a href="ValueSet-identity-assurance-level.html">Identity assurance levels</a></li>
    </ul>
  </li>
  <li><a href="https://github.com/dvci/vaccine-credential-ig/releases">Version History</a></li>
  <li><a href="https://github.com/dvci/vaccine-credential-ig">GitHub</a></li>
  <li><a href="contact.html">Contact the Authors</a></li>
</ul>